#banner .form-group {
  margin:20px;
  padding:20px;
}

#banner .form-control {
  padding:0px 10px 0 20px;
  margin-top:10px;
  color:#000;
  font-size:28px;
  font-weight:500;
  border:3px solid #51b6d9;
  -webkit-box-shadow:none;
  box-shadow:none;
  min-height:60px;
  height:auto;
  border-radius:50px 0  0 50px !important;
}

#banner .form-control :focus {
  -webkit-box-shadow:none;
  box-shadow:none;
  border-color:transparent;
}

#banner #searchbtn {
  border:0;
  padding:0px 10px;
  margin-top:10px;
  color:#000;
  background:#51b6d9;
  font-size:27px;
  font-weight:500;
  border:3px solid #51b6d9;
  border-left:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  min-height:60px;
  height:auto;
  border-radius:0 50px 50px 0 !important;
}

